{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
<link rel='stylesheet' href='/app/static/bootswatch-css/{% if user_profile.data %}{{user_profile.data.theme}}{% else %}default{% endif%}-bootstrap.min.css'>
<link rel='stylesheet' href='https://cdn.form.io/formiojs/formio.full.min.css'>
{% endblock stylesheets %}

{% block content %}
<div class="card col-12">
  <div class="card-header">
    <h4 class="mb-0">Edit profile </h4>
  </div>
  <div class="card-body"id='formio'></div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src='https://cdn.form.io/formiojs/formio.full.min.js'></script>
<script type='text/javascript'>
 window.onload = function() {
    Formio.createForm(document.getElementById('formio'), '{{ops_portal_url}}/app/formio/{{data.path}}/submission/{{data.keyvalue}}');
  };

  async function submit_and_reload(form, target) {
    $("body").css("cursor", "progress");
    await form.submit();
    $("body").css("cursor", "default");
    if (target === "self") {
      location.reload();
    } else if (target === "close") {
      window.close();
    } else {
      location.href="/app/edit/reference/report-request/" + target;
    }

  }

</script>
{% endblock javascripts %}
