{
    "data": {
        "structure_id": "{{data.structure_id}}",
        "bridge_name": "{{data.bridge_name}}",
        "asset-built": "{% if data.asset_built %}data.asset_built[0:10]}}{% endif %}",
        "eloque_id": "{{data.eloque_id}}",
        "asset_id": "{{data.asset_id}}",
        "sharepoint_name": "{{data.sharepoint_name}}",
        "classification": [{% for c in data.classification %}"{{c}}"{%if not loop.last %},{% endif %}{% endfor %}],
        "jinja_template": "{{data.jinja_template}}",
        "feature_crossed": "{{data.feature_crossed}}",
        "road_name": "{{data.road_name}}",
        "deckWidth": "{{data.deckWidth}}",
        "skew_angle": "{{data.skew_angle}}",
        "coordinates_latitude":  "{{data.coordinates_latitude}}",
        "coordinates_longitude": "{{data.coordinates_longitude}}",
        "up": "{{data.up.value}}",
        "down": "{{data.down.value}}",
        "left": "{{data.left.value}}",
        "right": "{{data.right.value}}",
        "left2right": "{{data.left2right}}",
        "right2left": "{{data.right2left}}",

        "generate_json": "no",
        "totalSpans": "{{data.totalSpans}}",
        "totalGirders": "{{data.totalGirders}}",
        "totalPiers": "{{data.totalPiers}}",
        "totalPierColumns": "{{data.totalPierColumns}}",
        "totalLanes": "{{data.totalPierCrossheads}}",
        "abutments": "{{data.totalAbutments}}",
        "totalFibers":"{{data.totalFibers}}",
        "fiber_type":"{{data.fiberType}}",
        "lockBuild": "true",

        {% if data.allComponentsList %}
        "allComponentsList": {{data.allComponentsList | tojson }},
        {% endif %}
        {% if data.allFibersList %}
        "allFibersList": {{data.allFibersList | tojson }},
        {% endif %}
        
        {% if data.lanes %}
        "lanes" : {{data.lanes | tojson }},
        {% endif %}
        {% if data.componentTypes %}
        "componentTypes": {{data.componentTypes | tojson }},
        {% endif %}
        {% if data.structure %}
        "structure": {{data.structure | tojson }},
        {% endif %}
        {% if data.fibers %}
        "fibers": {{data.fibers | tojson }},
        {% endif %}
        {% if data.fiber_layout %}
        "fiber_layout": {{data.fiber_layout | tojson }},
        {% endif %}
        {% if data.deflection %}
        "deflection": {{data.deflection | tojson }},
        {% endif %}
        {% if data.shear %}
        "shear": {{data.shear | tojson }},
        {% endif %}
        {% if data.bending_moment %}
        "bending_moment": {{data.bending_moment | tojson }},
        {% endif %}

        "fiber_mapping": [
            {% for s in range(1,data.totalFibers + 1) %}
                {% if loop.first != True %}
            , {
                {% else %}
            {
                {% endif %}
                "fiber_id": "F0{{s}}",
                "asset_id": "{{data.asset_id}}",
                "physical_fiber": "{{s}}",
                "fiber_type": "{{data.fiberType}}"
            }
            {% endfor %}
        ]

        {% for c in data.channels %}
        ,
        "{{c.channelId}}" : [
            {% for s in c.sensors %}
            {% if loop.first %}
            {
            {% else %}
            ,{
            {% endif %}
                "type": "{{s.type}}",
                "fiber": "{{s.fiber}}",
                "sensor": "{{s.sensor_numbers}}",
                "component_id": "{{s.componentId.value}}",
                "sensor_type": "{{s.sensor_model}}",
                "side": "{% for c in s.location %}{{c}}{%if not loop.last %}, {% endif %}{% endfor %}",
                "y": "{{s.vertical_spacing}}"
            }
            {% endfor %}
        ]
        {% endfor %}
    }
}