<html>
<head>
    <title>Mapping: Design {{data.eloque_id}}</title>
    <link rel="stylesheet" href="/app/static/dis_menu.css">
    <script type="text/javascript" charset="utf8" src="/app/static/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/app/static/svg_lib.js"></script>
    <script type="text/javascript" charset="utf8" src="/app/static/std_lib.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <a href="/app">
                <img src="/app/static/logo-new.png" style="height: 53px; padding-top: 11px; padding-left: 24px;" />
            </a>
            <h1 class="logo"> {{data.eloque_id}} - Mapping: Design Layout</h1>
        </div>
    </header>
    {% set ns = namespace(items=0) %}

    <div class="container">
    <h1>Deployment</h1>
    <table id="deployment">
        <tr><td>Index ID</td><td>{{data.eloque_id}}</td><td></td></tr>
        <tr><td>Asset ID</td><td>{{data.asset_id}}</td><td></td></tr>
        <tr><td>Sharepoint Name</td><td>{{data.sharepoint_name}}</td><td></td></tr>
        <tr><td>Excel Version</td><td>1.1.0</td><td></td></tr>
        <tr><td>Asset</td><td>{{data.asset_name}}</td><td></td></tr>
        <tr><td>RSA structure number</td><td>{{data.structure_id}}</td><td></td></tr>
        <tr><td>Type</td><td>Type</td><td></td></tr>
        <tr><td>FiAsset Type</td><td>{% for c in data.classification %}{{c}} {% endfor %}</td><td></td></tr>
        <tr><td>Number of Spans</td><td>{{data.totalSpans}}</td><td></td></tr>
        <tr><td>Deck Width (m)</td><td>{{data.deckWidth}}</td><td></td></tr>
        <tr><td>FiAsset Status</td><td>Status</td><td></td></tr>
        <tr><td>FiAsset Built</td><td>Build Date</td><td></td></tr>
        <tr><td>Coordinates</td><td>{{data.coordinates_latitude}}</td></td><td>{{data.coordinates_longitude}}</td></tr>
        <tr><td>Feature crossed</td><td>{{data.feature_crossed}}</td><td></td></tr>
        <tr><td>Road name</td><td>{{data.road_name}}</td><td></td></tr>
        <tr><td>Skew angle</td><td>{{data.skew_angle}}</td></tr>
        <tr><td><b>Directions mapping</b><td></td></td><td></td></tr>
        <tr><td><i>Internal</i></td><td><i>External</i></td><td></td></tr>
        <tr><td>up</td><td>{{data.up.label}}</td><td></td></tr>
        <tr><td>left</td><td>{{data.left.label}}</td><td></td></tr>
        <tr><td>right</td><td>{{data.right.label}}</td><td></td></tr>
        <tr><td>down</td><td>{{data.down.label}}</td><td></td></tr>
        <tr><td>LEFT2RIGHT</td><td>{{data.left2right}}</td><td></td></tr>
        <tr><td>RIGHT2LEFT</td><td>{{data.right2left}}</td><td></td></tr>
    </table>

    <h1>Lanes</h1>
    <table id="lanes" class="display">
        <thead>
            <tr><th>Transverse ID</th><th>Direction</th><th>Type</th><th>Lane ID</th><th>Width (m)</th><th>Transverse Coordinates(m)</th></tr>
        </thead>
        <tbody>
    {% for l in data.lanes %}
            <tr>
                <td>{{l.transverse_id}}</td>
                <td>{{l.lane_direction}}</td>
                <td>{{l.laneType}}</td>
                <td>{{l.lane_id.label}}</td>
                <td>{{l.lane_width}}</td>
                <td>{{l.transverse_coordinates}}</td>
            </tr>
    {% endfor %} 
        </tbody>
    </table>

    <h1>Structure</h1>
    <table id="structure" class="display">
        <thead>
            <tr><th>Component</th><th>Type</th><th>Length</th><th>Height</th><th>Width</th><th>Lane</th></tr>
        </thead>
        <tbody>
    {% for c in data.structure %}
        {% set ns.component_type = {} %}
            {% if c.componentType.value %}
            {% for x in data.componentTypes if x.componentType == c.componentType.value %}{% set ns.component_type = x %}{% endfor %}
            {% else %}
            {% for x in data.componentTypes if x.componentType == c.componentType %}{% set ns.component_type = x %}{% endfor %}
            {% endif %}
            <tr>
                <td>{{c.componentId}}</td>
                <td>{{c.componentType.value}}</td>
                <td>{{ns.component_type.length}}</td>
                <td>{{ns.component_type.height}}</td>
                <td>{{ns.component_type.width}}</td>
                <td>{% if c.superstructureLane %}{{c.superstructureLane.value}}{% endif %}</td>
            </tr>
    {% endfor %} 
        </tbody>
    </table>

    <h1>Component Types</h1>
    <table id="componentTypes" class="display">
        <thead>
            <tr>
            <th>Component Type</th><th>Type</th><th>SubType</th><th>Youngs</th><th>Shear</th><th>Density</th>
            <th>Moment</th><th>Area</th><th>Flange Width 1</th><th>Flange Width 2</th><th>Length</th><th>Height</th><th>Width</th>
            </tr>
        </thead>
        <tbody>
    {% for c in data.componentTypes %}
            <tr>
                <td>{{c.componentType}}</td>
                <td>{{c.structureType}}</td>
                <td>{{c.structureSubType}}</td>
                <td>{{c.effective_youngs_modulus}}</td>
                <td>{{c.effective_shear_modulus}}</td>
                <td>{{c.weight}}</td>
                <td>{{c.effective_area_moment_of_inertia}}</td>
                <td>{{c.effective_area}}</td>
                <td>{{c.flangeWidth1}}</td>
                <td>{{c.flangeWidth2}}</td>
                <td>{{c.length}}</td>
                <td>{{c.height}}</td>
                <td>{{c.width}}</td>
            </tr>
    {% endfor %} 
        </tbody>
    </table>

    <h1>Layout</h1>
    <table id="fibers" class="display">
        <thead>
            <tr>
                <th>Fiber</th><th>Component</th><th>Type</th><th>Position</th><th>Side</th><th>First</th><th>Last</th><th>X</th><th>Y</th>
            </tr>
        </thead>
        <tbody>
    {% for fiber in data.fibers %}
        {% for c in fiber.fiberComponent %}
        {% for s in c.sensorTypes %}
            <tr>
                <td>{{fiber.fiberId}}</td>
                <td>{{c.componentId.label}}</td>
                <td>{{s['sensorType']}}</td>
                <td>{{s.position}}</td>
                <td>{{s.side}}</td>
                <td>{{s.typeFirst}}</td>
                <td>{{s.typeLast}}</td>
                <td>{{s.customX}}</td>
                <td>{{s.customY}}</td>
            </tr>
        {% endfor %}
        {% endfor %}
    {% endfor %}
        </tbody>
    </table>

    </div>
    <script>
        $(document).ready( function () {
            $('#lanes').DataTable({"order": []});
            $('#structure').DataTable({"order": []});
            $('#componentTypes').DataTable({"order": []});
            $('#fibers').DataTable({"order": []});
        } );

        function build_xls() {
            let payload = [];
            payload.push(convert_table_to_csv("deployment"));
            payload.push(convert_table_to_csv("lanes"));
            payload.push(convert_table_to_csv("structure"));
            payload.push(convert_table_to_csv("componentTypes"));
            payload.push(convert_table_to_csv("fibers"));
            download_tables(payload)
        }

    </script>
</body>
</html>
