Deployment
Index ID{{data.index_id}},
Asset ID,{{data.asset_id}},
Sharepoint Name,{{data.sharepoint_name}},
Excel Version,1.1.0,
Asset,{{data.asset_name}},
RSA structure number,{{data.structure_id}},
Type,Type,
FiAsset Type,{% for c in data.classification %}{{c}} {% endfor %},
Number of Spans,{{data.totalSpans}},
Deck Width (m),{{data.deckWidth}},
FiAsset Status,Status,
FiAsset Built,Build Date,
Coordinates,{{data.coordinates_latitude}},{{data.coordinates_longitude}}
Feature crossed,{{data.feature_crossed}},
Road name,{{data.road_name}},
Skew angle,{{data.skew_angle}}
Directions mapping,,
Internal,External,
up,{{data.up.label}},
left,{{data.left.label}},
right,{{data.right.label}},
down,{{data.down.label}},
LEFT2RIGHT,{{data.left2right}},
RIGHT2LEFT,{{data.right2left}},
.

{% set ns = namespace(items=0) %}

Lanes
Transverse ID,Direction,Type,Lane ID,Width (m),Transverse Coordinates(m)
    {% for l in data.lanes %}
{{l.transverse_id}},{{l.lane_direction}},{{l.laneType}},{{l.lane_id.label}},{{l.lane_width}},{{l.transverse_coordinates}}
    {% endfor %} 
.

{% set ns.component_type = {} %}
Structure
Component,Type,Length,Height,Width,Lane
    {% for c in data.structure %}
        {% for x in data.componentTypes if x.componentType == c.componentType['value'] %}{% set ns.component_type = x %}{% endfor %}
{{c.componentId}},{{c.componentType['value']}},{{ns.component_type.length}},{{ns.component_type.height}},{{ns.component_type.width}},{{c.superstructureLane}}
    {% endfor %} 
.

Component Types
Component Type,Type,SubType,Youngs,Shear,Density,Moment,Area,Flange Width 1,Flange Width 2,Length,Height,Width
    {% for c in data.componentTypes %}
{{c.componentType}},{{c.structureType}},{{c.structureSubType}},{{c.effective_youngs_modulus}},{{c.effective_shear_modulus}},{{c.weight}},{{c.effective_area_moment_of_inertia}},{{c.effective_area}},{{c.flangeWidth1}},{{c.flangeWidth2}},{{c.length}},{{c.height}},{{c.width}}
    {% endfor %} 
.

{% for group in data.fiber_layout|groupby('fiber') %}
    {% for f in group.list %}
    {% if loop.first %}
{{f.fiber}}
Sensor,Component,x,y,Sensor Type,Angle,Side,Top,Left,Spacing,Right,Note
    {% endif%}
{{f.sensor}},{{f.component_id}},{{f.x}},{{f.y}},{% if f.sensor_type == 'temperature'%}f.sensor_type{% else %}strain{% endif %},{{f.angle}},{{f.side}},{{f.frxomTop}},{{f.fromLeft}},{{f.sensorSpacing}},{{f.fromRight}},{{f.note}}
    {% if loop.last %}
.

    {% endif %}
    {% endfor %}
{% endfor %}


Deflection
ID,Type,Fiber,Component,Sensor Type,Sensors Top,Sensors Bottom
    {% for d in data.deflection %}
{{d.id}},{{d.algorithm_type}},{{d.fiber_id}},{{d.component_id}},sensor_pair_array,{{d.sensors_top}},{{d.sensors_bottom}}
    {% endfor %}
.

Shear
ID,Type,Fiber,Component,Sensor Type,0 deg,45 deg,90 deg
    {% for s in data.shear %}
{{s.id}},{{s.algorithm_type}},{{s.fiber_id}},{{s.component_id}},3d_rosette,{{s.rosette_0}},{{s.rosette_45}},{{s.rosette_90}}
    {% endfor %}
.

Bending Moment
ID,Type,Fiber,Component,Sensor Type,Sensor Top,Sensor Bottom
    {% for b in data.bending_moment %}
{{b.id}},{{b.algorithm_type}},{{b.fiber_id}},{{b.component_id}},sensor_pair,{{b.sensor_top}},{{b.sensor_bottom}}
    {% endfor %}
.
