<div class="d-flex flex-column flex-shrink-0 p-3 bg-light overflow-auto" style="width:auto">
    {% for menu in sidenav.data.menuSection %}
    <a class="bd-toc-item">
      {{menu.sectionName}}
    </a>
    
      <ul class="bd-sidenav">
  {% for item in menu.menuSectionItems %}
      <li>
          {% if item.menuItemType == 'resource' %}
          <a href="javascript:NewTab('/app/tool/reference/{{item.menuItemForm}}','_admin')">
          {% endif %}
          {% if item.menuItemType == 'view' %}
          <a href="javascript:NewTab('/app/view/{{item.menuItemView}}','_admin')">
          {% endif %}
          {% if item.menuItemType == 'url' %}
          <a href="javascript:NewWindow('{{item.menuItemUrl}}','_admin')">
          {% endif %}
          {% if item.menuItemType == 'tool' %}
          <a href="javascript:NewTab('/app/tool/{{item.menuItemTool}}','_admin')">
          {% endif %}
          {% if item.menuItemType == 'edit' %}
          <a href="javascript:NewWindow('../../edit/reference/{{item.menuItemForm}}/{{item.menuItemTool}}','_admin')">
          {% endif %}
          {{item.menuItemLabel}}
          </a>
      </li>
    {% endfor %}
      </ul>
  {% endfor %}
</div>
