{% extends "app_header.html" %}
{% block content %}
<style>
    td {
        padding-bottom: 1em;
        padding-right: 1em;
      }
</style>
<h1>Administration Functions</h1>
<table>
    <tr><td colspan=2><b>Application Resources</b></td></tr>
    {% if 'fiberlibrary' in form_access %}
    <tr><td><button class="button wide blue" onclick="NewTab('/app/tool/reference/fiberlibrary','_admin')">Fibres</td><td>Fibre definitions to be included in the generated JSON file for engineering.</td></tr>
    {% endif %}
    {% if 'sensor-types' in form_access %}
    <tr><td><button class="button wide blue" onclick="NewTab('/app/tool/reference/sensor-types','_admin')">Sensor Types</td><td>Pre-packaged Sensors for inclusion in Mapping: Sensors. Inventory of sensors with vendor, model and connection with link to data sheets</td></tr>
    {% endif %}
    {% if 'sensor-layout' in form_access %}
    <tr><td><button class="button wide blue" onclick="NewTab('/app/tool/reference/sensor-layout','_admin')">Sensor Layouts</td><td>Location definitions for various components. Will vary from component to component based on possible locations and their specifics on a bridge</td></tr>
    {% endif %}
    {% if 'view' in form_access %}
    <tr><td colspan=2><b>Submissions</b></td></tr>
    <tr><td><button class="button wide blue" onclick="NewTab('/app/tool/view','_view')">Views</td><td>Form submission views. Use to add new Form Submission views from which to update existing submissions, create new submissions, or link to related forms or external URLs.</td></tr>
    <tr><td><button class="button wide blue" onclick="NewTab('/app/tool/tools','_admin')">Submissions</td><td>All submissions of Bridge Overview, Mapping: Design, DIS As-Design, DIS As-Built</td></tr>
    {% endif %}

    {% if 'user' in form_access or 'company' in form_access or 'user' in form_access %}
    <tr><td colspan=2><b>Tennancy and User Access</b></td></tr>
    {% endif %}
    {% if 'company' in form_access %}
    <tr><td><button class="button wide blue" onclick="NewTab('/app/tool/reference/company','_admin')">Company</td><td>Asset Owner or responsible party</td></tr>
    {% endif %}
    {% if 'user' in form_access %}
    <tr><td><button class="button wide blue" onclick="NewTab('/app/tool/reference/user','_admin')">Users</td><td>OPS Portal Users with their Activity Groups.</td></tr>
    {% endif %}
    {% if 'access-roles' in form_access %}
    <tr><td><button class="button wide blue" onclick="NewTab('/app/tool/reference/access-roles','_admin')">Roles</td><td>User Roles to assign access to data by form type and company (asset owner)</td></tr>
    {% endif %}
    {% if 'country' in form_access or 'tables' in form_access or 'ops-portal-templates' in form_access %}
    <tr><td colspan=2><b>Documents and Tables</b></td></tr>
    {% endif %}
    {% if 'country' in form_access %}
    <tr><td><button class="button wide blue" onclick="NewTab('/app/tool/reference/country','_admin')">Country</td><td>Country and State codes from Company and Asset</td></tr>
    {% endif %}
    {% if 'tables' in form_access %}
    <tr><td><button class="button wide blue" onclick="NewTab('/app/tool/reference/tables','_admin')">Tables</td><td>CSV Tables for general use as References</td></tr>
    {% endif %}
    {% if 'ops-portal-templates' in form_access %}
    <tr><td><button class="button wide blue" onclick="NewTab('/app/tool/reference/ops-portal-templates','_admin')">Documents</td><td>Jinja templates for Website HTML and Transformatons, Exports, Metadata and Reports</td></tr>
    {% endif %}
    {% if 'formio-hosts' in form_access  or 'app-forms' in form_accessor or 'form-promote' in form_access %}
    <tr><td colspan=2><b>Promotes</b></td></tr>   
    {% endif %}
    {% if 'formio-hosts' in form_access %}
    <tr><td><button class="button wide blue" onclick="NewTab('/app/tool/reference/formio-hosts','_admin')">Hosts</td><td>Host systems used during promote. Includes configuration for connecting securely to the form.io APIs running at each host.</td></tr>
    {% endif %}
    {% if 'app-forms' in form_access %}
    <tr><td><button class="button wide blue" onclick="NewTab('/app/tool/reference/app-forms','_admin')">Forms</td><td>All Forms in the OPS Portal which are maintained and promoted </td></tr>
    {% endif %}
    {% if 'form-promote' in form_access %}
    <tr><td><button class="button wide blue" onclick="NewTab('edit/reference/form-promote-entry/entry-form','_admin')">Promote</td><td>Forms and Submissions can be Promoted with versioning or Pulled to local instances for revisions. Major, Minor and Patch numbering (semantic) is supported for Forms.</td></tr>
    {% endif %}
</table>

<script>
    function NewTab(href, target) {
        window.open(href, target);
    }
</script>
{% endblock %}