{% extends 'layouts/base.html' %}
{% block content %}
<div class="home" id="output" style="visibility:hidden"></div>
<table id="submissions" class="display">
    <thead>
        <tr><th>Eloque ID</th><th>Structure ID</th><th>Form Type</th><th>Description</th><th>Action</th></tr>
    </thead>
    <tbody>
{% for s in data %}
    <tr>
        <td><button class="button wide blue" onclick="NewTab('/app/edit/{{s.path}}/{{s.eloque_id}}', '_form_{{s.path}}_{{s.eloque_id}}')">{{s.eloque_id}}</button></td>
        <td>{{s.structure_id}}</td>
        <td>{{s.path}}</td>
        <td>{{s.bridge_name}}</td>
        <td>
        {% if 'canRename' in s.tags %}
            &nbsp;<button class="button blue" onclick="action('rename', '', '{{s.eloque_id}}')">Rename</button>
        {% endif %}
            &nbsp;<button class="button" onclick="action('copy', '{{s.path}}', '{{s.eloque_id}}')">Copy</button>
            &nbsp;<button class="button red" onclick="action('delete', '{{s.path}}', '{{s.eloque_id}}')">Delete</button>
    </td></tr>
{% endfor %}
    </tbody>
</table>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script>
    $(document).ready( function () {
        $('#submissions').DataTable( {
            "lengthChange": true,
            "pageLength": 50,
            "order": [[1, 'asc']]
        } );
    } );

    function NewTab(href, target) {
        window.open(href,"edit_submission");
    }

    function action(action, path, id) {
        if (action == 'rename') {
            let new_id = prompt("Enter new ID");
            if (new_id != null) {
                sendData('rename', path, id, new_id);
            }
        } else if (action == 'copy') {
            let new_id = prompt("Enter new ID for Copy");
            if (new_id != null) {
                sendData('copy', path, id, new_id);
           }
        } else {
            if (confirm("Are you SURE you want to delete " + id + "?")) {
                sendData('delete', path, id);
            }
        }
    }

    function sendData(action, path, id, new_id) {

        var http = new XMLHttpRequest();
        http.onreadystatechange = async function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("output").innerHTML = this.responseText;
                document.getElementById("output").style.visibility = "visible";
                await new Promise(r => setTimeout(r, 2000));
                // location.reload();
            }
        };
        let data = '{"action": "' + action + '", "path": "' + path + '", "keyfield": "eloque_id", "id": "' + id + '", "new_id": "' + new_id + '"}';

        http.open('POST', '/app/action/submission', true);
        http.setRequestHeader('content-type', 'application/json;charset=UTF-8');
        http.send(JSON.stringify(data));
    }
</script>
{% endblock javascripts %}